@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

:root {
  --primary-color: #436e7a;
  --bright-color: #fff;
  --stroke-color: #000;
  --secondary-bg-color: #eee;
  --medium-font-weight: 500;
  overflow-x: hidden;
}

.register * {
  margin: 0;
  padding: 0;
  outline: none;
}
.register {
  font-family: "Inter", sans-serif;
  margin-top: 0.625rem;
  display: grid;
  place-items: center;
}

.header {
  font-size: 35px;
}

.register .form-outer {
  width: 100%;
}

.form-outer form {
  display: flex;
  width: 300%;
}

.form-outer form .page {
  width: 25%;
}

.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: var(--medium-font-weight);
}

.form-outer form .page .field {
  height: 45px;
  width: 330px;
  margin: 45px 0;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

input#staticInputId {
  width: 3.125rem !important;
}

h2 {
  margin: 1.5rem;
}

/* Progress bar */

/* Form */
.text-center {
  text-align: center;
  color: var(--stroke-color);
}

option {
  text-transform: capitalize;
}

.btn-next:hover {
  box-shadow: 0 0 0 2px var(--bright-color), 0 0 0 3px var(--primary-color);
}

/* Button */
.btn-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--bright-color);
  text-align: center;
  border-radius: 0.625rem;
  font-weight: 700;
  cursor: pointer;
  height: 3.125rem;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

/* Vectors */
.register > .vectors {
  z-index: -1;
  width: 100%;
  max-width: auto;
}

.register > .vectors svg:first-of-type {
  position: absolute;
  top: 45%;
}

.register > .vectors svg:not(svg:first-of-type) {
  position: absolute;
  top: 10%;
  left: 80%;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Password Icons */
.password-hide {
  width: 2.5rem;
  height: 1.6875rem;
}

.active {
  display: block;
}

.register .password-hide .password-show-icon,
.register .active,
.register .password-hide-icon {
  width: 2.5rem;
  height: 1.6875rem;
  position: absolute;
  bottom: 20%;
  left: 60.5%;
  cursor: pointer;
  z-index: 999;
}

.password-hide-icon {
  display: none;
}
