<<<<<<< HEAD
=======
.schedule--container {
    position: absolute;
    /* width: 100%; */
    padding: 10px;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    top: 100px;
    left: 280px;
}
>>>>>>> acdaae4482f43fa4c0266fbebb83bbcbaf9f9676
